/* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

paleta de colores
rgb(205, 232, 229)
rgb(238, 247, 255)
rgb(122, 178, 178)
rgb(77, 134, 156)
*/

body {
    width: 393px;
    height: 0;
    margin: 0;
}

.description {
    background-color: rgb(77, 134, 156);
    height:auto;
    display: flex;
    justify-content: space-between;
}

.photo-and-name {
    padding: 1rem;
    width: 30%;
}

/*modificar luego*/
.container-description > img {
    height: 10rem;
    width: auto;
    border-radius: 1rem;
    margin-top: 1.5rem;
}

.container-description > h1 {
    font-size: medium;
    text-align: center;
    color:  rgb(205, 232, 229);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.title-and-text > h2 {
    padding-top: 3rem;
    font-size: medium;
    margin: 0.2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(205, 232, 229);
    text-align: center;
}

.title-and-text > p {
    font-size: small;
    margin: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(238, 247, 255);
    text-align: center;
}

.projects {
    background-color: rgb(205, 232, 229);
    padding: 1.5rem;
}

.container {
    justify-content: space-between;
    display: flex;
    padding: 1rem;
    border:groove 5px rgb(77, 134, 156);
    margin: 1rem;
}

.title-projects {
    text-decoration-line: underline;
    color: rgb(77, 134, 156);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.project-image > img{
    height: 5rem;
    width: auto;
    border-radius: 1rem;
    margin-top: 1.5rem;
    margin-right: 1rem;
}

.project-text > h3 {
    text-align: center;
    color: rgb(122, 178, 178);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.project-text > p {
    font-size: small;
    text-align: center;
    color: rgb(122, 178, 178);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer {
    background-color: rgb(77, 134, 156);
}

.icon-footer {
    justify-content: center;
    display: flex;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.icon-footer > a {
    font-size: 1.5rem;
    margin: 1rem;
    align-items: center;
}